rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Transactions/{document=**} {
      //create docs if auth'ed
      allow create: if request.auth != null;
      //allow write,del docs if local uid===fb uid
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}